In [7]:
from pathlib import Path
import pandas as pd

In [8]:
DATA_ROOT = Path('./data/training_project/')
MODELS_PATH = Path('./models/')

# input
DATASET_PATH = DATA_ROOT / 'training_project_data.csv'
PREP_DATASET_PATH = DATA_ROOT / 'training_project_data_prep.csv'

# output
TRAIN_FULL_PATH = DATA_ROOT / 'training_project_train_full.csv'
TRAIN_PART_PATH = DATA_ROOT / 'training_project_train_part_b.csv'
TEST_PART_PATH = DATA_ROOT / 'training_project_test_part.csv'

SCALER_FILE_PATH = MODELS_PATH / 'scaler.pkl'
MODEL_FILE_PATH = MODELS_PATH / 'model.pkl'

In [9]:
df = pd.read_csv(TRAIN_FULL_PATH)

In [10]:
df

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,...,PAY_4_2,PAY_4_3,PAY_5_-1,PAY_5_0,PAY_5_2,PAY_5_3,PAY_6_-1,PAY_6_0,PAY_6_2,PAY_6_3
0,-0.139741,2,2,2,-1.239383,1,2,0,0,0,...,0,0,0,1,0,0,0,1,0,0
1,-0.908309,2,3,1,1.153248,3,3,3,3,2,...,0,1,0,0,1,0,0,1,0,0
2,-0.139741,2,2,1,0.609468,-1,-1,-1,-1,0,...,0,0,0,1,0,0,0,1,0,0
3,-0.139741,2,2,2,-0.043067,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,-0.754595,2,1,1,-0.043067,1,2,2,2,2,...,1,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,-0.370311,1,2,2,0.283200,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
9996,1.704821,2,3,2,1.044492,0,-1,-1,-1,-1,...,0,0,1,0,0,0,0,1,0,0
9997,2.550246,1,1,2,0.283200,-1,-1,-1,-1,-1,...,0,0,1,0,0,0,1,0,0,0
9998,1.089967,2,2,1,-0.043067,2,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
9999,-0.677738,2,1,2,-0.913115,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0